.select {
  font-family: 'Roboto', sans-serif;
  position: relative;
  width: 100%;
  max-width: 300px;
}

.selectHeader {
  width: 100%;
  padding: 2px 10px;
  border: none;
  outline: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #181A19;
  cursor: pointer;
  font-size: 18px;
  transition: all 0.2s ease;
  user-select: none;
}

.selectedValue {
  color: #ffffff;
  font-weight: 500;
}

.arrow {
  padding-left: 6px;
  color: #a3a3a3;
  font-size: 12px;
  transition: all 0.5s ease;
}

.arrowOpen {
  transform: rotate(180deg);
  padding-right: 8px;
}

.selectDropdown {
  width: 213px;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  margin-top: 13px;
  background-color: #181A19;
  border: 1px solid #404040;
  border-radius: 0 0 8px 8px;
  z-index: 1000;
  box-shadow: 0px 7px 16px 0px #2b2b2b;
}

.option {
  width: 100%;
  padding: 12px 16px;
  color: #ffffff;
  font-size: 14px;
  cursor: pointer;
}

.option:hover {
  color: purple;
}
